<section id="content">
<div class="camera-wrapper">
    <div id="camera" class="camera-wrap">
        <div data-src="assets/index_slide01.jpg">
            <div class="fadeIn camera_caption">
                <h2 class="text_1 color_1">Solutions that you need!</h2>
                <!--<a class="btn_1" href="#">More info</a>-->
            </div>
        </div>
        <div data-src="assets/index_slide02.jpg">
            <div class="fadeIn camera_caption">
                <h2 class="text_1 color_1">Services that you need!</h2>
                <!--<a class="btn_1" href="#">More info</a>-->
            </div>
        </div>
        <div data-src="assets/index_slide03.jpg">
            <div class="fadeIn camera_caption">
                <h2 class="text_1 color_1">We Create experiences for the web!</h2>
                <!--<a class="btn_1" href="#">More info</a>-->
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row wrap_1 wrap_5">
        <div class="grid_3">
            <div class="box_1">
                <div class="icon_1"></div>
                <h3 class="text_2 color_2 maxheight1"><a href="#">Web Solutions</a></h3>
                <p class="text_3 color_2 maxheight">
                    There are three responses to a piece of design & development – yes, no, and WOW! Wow is the one we aim for. Internet is an ocean, in which we help our clients take their business and achieve great rewards.
                </p>
                </div>
        </div>
        <div class="grid_3">
            <div class="box_1">
                <div class="icon_2"></div>
                <h3 class="text_2 color_2 maxheight1"><a href="#">Marketing Research</a></h3>
                <p class="text_3 color_2 maxheight">
                    Business marketing almost cost fortune these days and most small business people can't afford it, we understand client's budget and don't just bill them, we offer great value service at very affordable price with fabulous support to our clients
                </p>
                </div>
        </div>
        <div class="grid_3">
            <div class="box_1">
                <div class="icon_3"></div>
                <h3 class="text_2 color_2 maxheight1"><a href="#">Employee Benefits</a></h3>
                <p class="text_3 color_2 maxheight">
                    Organization isn’t about perfection; it’s about efficiency, reducing stress and clutter, saving time and money and improving your overall quality of life.
                </p>
                </div>
        </div>
        <div class="grid_3">
            <div class="box_1">
                <div class="icon_4"></div>
                <h3 class="text_2 color_2 maxheight1"><a href="#">Web Development</a></h3>
                <p class="text_3 color_2 maxheight">
                    A high quality and good looking website is extremely important as it enlighten a lot about you and your businesses. Create Professional, Creative and good looking website for your business with us.
                </p>
                </div>
        </div>
    </div>
</div>
<div class="bg_1 wrap_2 wrap_4">
    <div class="container">
        <div class="row">
            <div class="preffix_2 grid_8">
                <h2 class="header_1 wrap_3 color_3">
                    The Best Web Solutions, <br/>
                    Data & Analysis
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="grid_12">
                <div class="box_1">
                    <p class="text_3">
                        Best Web Solutions a competitive Web Services with Affordable Cost, High Quality work, Guaranteed Results and Fabulous Support. We give you your entire web solutions requirement at one place with the services like SEO, SEM, PPC, Internet Marketing, Content Building, Reputation management, Web Design/Development, Domain Registration, Web Hosting, Business Consultant and many more.
                        <br />    
                        We don’t think of you as a Client but as a Partner as we know our growth is only possible with the growth of our client and their business; because when you grow we grow with you.
                        <br />
                        We offer only Ethical, White hat services with guaranteed results. As you already know how important it is to give high quality work for your business these days to stand up on the market. We give you the service just the way you want as every business has its own requirement so before start working we create highly customized plan with the Client so you’ll get best results with our work.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row wrap_1">
        <div class="grid_6">
            <div class="wrap_6">
                <div class="box_2 maxheight2">
                    <div class="put-left"><img src="assets/index_img01.png" alt="Image 1"/></div>
                    <div class="caption">
                        <h3 class="text_2 color_2">
                            Save Your Time <br/>
                            with Us
                        </h3>
                        <p class="text_3">
                            Offshore web development is rapidly taking giant steps to become an essential part of any business. The brands and companies have realized that there is a need for solutions to increase your web presence online in the customer’s mind. In this context, there is a constant demand for cost-effective measures and solutions for web design, Internet marketing, mobile solutions and even web applications.
                        </p>
                        
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="grid_6">
                <div class="wrap_6">
                    <div class="box_2 maxheight2">
                        <div class="put-left"><img src="assets/index_img02.png" alt="Image 2"/></div>
                        <div class="caption">
                            <h3 class="text_2 color_2">
                                The Highest <br/>
                                Quality Services
                            </h3>
                            <p class="text_3">
                                Our IT Department continues to provide 24 hour telephone and remote support to our global network of staff, in addition to providing IT manager support. It’s great to have peace of mind knowing that any technical issues will be resolved quickly and effectively, no matter where our team is located across the globe.
                            </p>
                            
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
           
        </div>
    </div>
</div>
<div class="bg_1 wrap_7 wrap_5">
    <div class="container">
        <div class="row">
            <div class="grid_12">
                <h2 class="header_1 wrap_8 color_3">
                    What Clients Say
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="grid_12">
                <div id="owl">
                    <div class="item">
                        <p class="text_3">
                            In the field of enterprise architecture and application integration, UrTecHut's team did a great job. They are able to do it faster, better and cheaper. They helped us in our drive to improve productivity and application performance
                        </p>
                    </div>
                    <div class="item">
                        <p class="text_3">
                            First, UrTecHut provided us with unbiased consulting and advice on alternative technologies. With their assistance, we selected Microsoft's .Net architecture as our standard for future applications development and Share Point Portal Server to deploy and manage our Intranet and Extranet content.
                            <br />
                            Second, they provided us with excellent development resources to augment our internal staff. Their technical expertise, professional attitude and interpersonal skills have been exceptional. We look forward to continuing our relationship with UrTecHut for years to come." - Vice President- <b style="color:#000000"> Application Development of Manufacturing Organization, NY </b>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="container">
    <div class="row wrap_9 wrap_4 wrap_10">
        <div class="grid_12">
            <div class="header_1 wrap_3 color_3">
                Get in Touch
            </div>
            <div class="box_3">
                <ul class="list_1">
                    <li><a class="fa fa-twitter" href="#"></a></li>
                    <li><a class="fa fa-facebook" href="#"></a></li>
                    <li><a class="fa fa-google-plus" href="#"></a></li>
                    <li><a class="fa fa-pinterest" href="#"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>-->
</section>
</div>